<nav class="navbar">
  <div class="logo">
    <a routerLink="/" class="brand-link">
      <img src="assets/truck.png" alt="TruckPort Logo" class="brand-logo">
      TruckPort
    </a>
  </div>
  <ul class="navbar-menu navbar-menu-top">
    <li><a routerLink="/">Ana Sayfa</a></li>
    <li><a routerLink="/hizmetler">Hizmetler</a></li>
    <li><a routerLink="/hakkimizda">Hakkımızda</a></li>
    <li><a routerLink="/nakliye-talepleri">Nakliye Talepleri</a></li>
    <li><a routerLink="/iletisim">İletişim</a></li>
    <li><a routerLink="/truckstore">TruckStore</a></li>
    <li><a routerLink="/trucks">Araç Listesi</a></li>
    <li><a routerLink="/canli-takip">Canlı Takip</a></li>
  </ul>
  <ul class="navbar-menu navbar-menu-bottom">
    <li><a routerLink="/truckport-lounge">TruckPort Lounge</a></li>
    <li><a routerLink="/video-galeri">Video Galeri</a></li>
    <li><a routerLink="/uye-ol">Kayıt Ol</a></li>
    <li><a routerLink="/giris">Giriş Yap</a></li>
  </ul>
</nav>