export const environment = {
  production: false,
  apiBaseUrl: 'http://localhost:3000/api',
  firebase: {
    apiKey: 'FIREBASE_API_KEY',
    authDomain: 'your-project.firebaseapp.com',
    databaseURL: 'https://your-project-default-rtdb.firebaseio.com',
    projectId: 'your-project',
    storageBucket: 'your-project.appspot.com',
    messagingSenderId: '...',
    appId: '1:...:web:...',
    measurementId: 'G-...'
  },
  googleMapsApiKey: 'GOOGLE_MAPS_API_KEY'
};
