<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/" class="brand-link">
        <img src="assets/truck.png" alt="TruckPort Logo" class="brand-logo">
        TruckPort
      </a>
    </div>
    
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a routerLink="/" class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'navbar.home' | translate}}</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/hizmetler" class="navbar-link" routerLinkActive="active">{{'navbar.services' | translate}}</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/hakkimizda" class="navbar-link" routerLinkActive="active">{{'navbar.about' | translate}}</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/canli-takip" class="navbar-link" routerLinkActive="active">{{'navbar.liveTracking' | translate}}</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/iletisim" class="navbar-link" routerLinkActive="active">{{'navbar.contact' | translate}}</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/truckstore" class="navbar-link" routerLinkActive="active">{{'navbar.truckStore' | translate}}</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/video-galeri" class="navbar-link" routerLinkActive="active">{{'navbar.videoGallery' | translate}}</a>
      </li>
      <li class="navbar-item lang-switcher-item">
        <app-language-switcher></app-language-switcher>
      </li>
      <li class="navbar-item">
        <a routerLink="/giris" class="navbar-link login-btn" routerLinkActive="active">{{'navbar.login' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
